
<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
    <header class="card-header headbar">

      <h4 class="card-title mt-2 txtsign">Sign in</h4>
    </header>
    <article class="card-body">
    <form [formGroup]="formlogin">
      <p><img class="imgphoto" src="../../assets/user.png"></p>
      <div class="form-group">

        <label>Email address</label>
        <input type="email" class="form-control" placeholder="" formControlName="email" placeholder=" " name="email">

      </div>

      <div class="form-group">
        <label>Password</label>
          <input class="form-control" type="password" formControlName="password" name="password">

          <label class="txterror">{{message}}</label>
      </div>
      <div class="form-group">
        <button id="btnSubmit" type="submit" class="btn btn-primary btn-block btnlogin" (click)="loginAuthor()" > Login  </button>


    </div>
    </form>
    </article>
    </div>
    </div>

    </div>


    </div>





