<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" routerLink="/home">My.Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf="isLoggedIn">
           <a class="nav-link" routerLink="/addarticle" id="btnaddarticle" type="submit">Add Article <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active" *ngIf="isLoggedIn">
              <a class="nav-link" routerLink="/listsubject" id="btneditarticle">Edit Article <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active" *ngIf="isLoggedIn">
              <a class="nav-link" routerLink="/dashboard" id="btndashboard">Dashboard <span class="sr-only"></span></a>
            </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" *ngIf="!isLoggedIn">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/register">Register</button>
      </form>
      <form class="form-inline mt-2 mt-md-0" *ngIf="!isLoggedIn">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login">Login</button>
      </form>
      <form class="form-inline mt-2 mt-md-0" *ngIf="isLoggedIn">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  (click)="logout()" id="btnlogout">Logout</button>
      </form>
    </div>
  </nav>
