<div class="container">
	<div class="row">

	    <div class="col-md-8 col-md-offset-2">

    		<h1>Create post</h1>

    		<form  [formGroup]="addarticles">
    		    <div class="form-group">
    		        <label for="title">Title <span class="require">*</span></label>
                <input type="text" class="form-control" name="titleArticle" fo  formControlName="title"/>
                <div class="validations" *ngIf="addarticles.touched">
                  <i class="fa fa-check-circle" style="color:green;" *ngIf="addarticles.controls.title.valid">Title Valid</i>
                  <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="addarticles.controls.title.invalid"> Title should be minimum 4 characters long</i>
                </div>
    		    </div>

    		    <div class="form-group">
    		        <label for="description">Description<span class="require">*</span></label>
                <textarea rows="5" class="form-control" name="description"  formControlName="content"></textarea>
                <div class="validations" *ngIf="addarticles.touched">
                  <i class="fa fa-check-circle" style="color:green;" *ngIf="addarticles.controls.content.valid">Content Valid</i>
                  <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="addarticles.controls.content.invalid"> Content should be minimum 4 characters long</i>
                </div>
    		    </div>

    		    <div class="form-group">
    		        <p><span class="require">*</span> - required fields</p>
    		    </div>

    		    <div class="form-group">
    		        <button type="submit" class="btn btn-primary" (click)="addSubject()" id="submitArticle" [disabled]="!addarticles.valid">
    		            Create
    		        </button>

    		    </div>

    		</form>
		</div>

	</div>
</div>
