<div class="container-fluid ">
  <div class="row " *ngFor="let item of allArticles">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <h5 class="card-header headarticle">{{item.title}}</h5>
        <div class="card-body">

          <img class="imgarticle"src="{{item.imagePath}}">
          <p class="card-text" class="textarticle">{{item.content}}</p>

                <button type="button" class="btn btn-primary btn-rounded btnread"  (click)="readMore(item._id)" id="btncomment" id="btnreadmore"><i class="fa fa-share"></i>
                  Read More</button>

        </div>
        <div class="card-footer text-muted footerarticle">
            <i class="fas fa-user user-fa"></i> &nbsp;{{item.author.name}}
            &nbsp; <i class="far fa-calendar-alt"></i> {{item.date | date}}


        </div>
      </div>
      <br>
    </div>

  </div>


</div>


